@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400& display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
  min-height: 100vh;
  background: linear-gradient(to top, #fff243, #fff56e);
  display: flex;
  justify-content: center;
  align-items: center;
}

.word-counter{
  background: #fff;
  position: relative;
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25); 
}

.count-items{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 110px;
}

.item{
  position: relative;
}

.item:not(:first-child)::before{
  content: "";
  position: absolute;
  background: #cacaca;
  width: 1px;
  height: 100%;
  left: -25px;
}

.item span{
  color: #0a0b10;
  font-size: 2.5em;
  font-weight: 700;
}

.item p 
{
  color: #7c7c7c;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.line{
  background: #cacaca;
  width: 90%;
  height: 1px;
}

.text-container
{
  width:100%;
  padding: 35px 30px;
}

.text-container textarea
{
  width: 100%;
  resize: none;
  border: none;
  outline: none;
  color: #0a0b10;
  font-size: 1em;
  line-height: 28px;
}

.text-container textarea::-webkit-scrollbar{
  background: #c5cadf;
  width: 10px;
  border-radius: 2em;
}

.text-container textarea::-webkit-scrollbar-thumb{
  background: #70768a;
  border-radius: 2em;
}

.text-container textarea::-webkit-scrollbar-thumb:hover{
  background: #454f6b;
}

@media screen and (max-width: 830px) {
  .word-counter{
    flex-direction: row-reverse;
  }

  .count-items{
    width: 200px;
    align-items: baseline;
    flex-direction: column;
    padding: 0;
  }
  .item{
    padding: 10px 0;
  }

  .item:not(:first-child)::before{
    width: 110px;
    height: 1px;
    left: 0;
  }

  .line{
    width: 1px;
    height: 380px;
    margin-right: 20px;
  }

  .item span{
    font-size: 2.2em;
  }

  .item p {
    font-size: 0.9em;
    font-weight: 500;
  }

}